## Bot
BOT_TOKEN=token
ADMIN_IDS=123123,123123
BOT_NAME=template
IS_WEBHOOK=false

## PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
RUN_MIGRATIONS=true

## Redis
REDIS_HOST=localhost
# to allow empty password in docker, edit docker-compose.yml file and change this line to 'REDIS_PASS=' or comment it
REDIS_PASS=password 

## Miscellaneous
LOG_LEVEL=INFO
