## Bot
BOT_TOKEN=token
ADMIN_IDS=123123,123123
BOT_NAME=template
IS_WEBHOOK=false

## PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=asdasdasd

## Miscellaneous
LOG_LEVEL=INFO
SENTRY_DSN=osdfgisdfgjsdfgs.sentry.com
